<div class="container">
  <div>
    <h2>Home Assignment For TA Municipality</h2>
  </div>
  <div>
    <button class="btn btn-primary" (click)="getDetails()">Get Details!</button>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Age</th>
          <th>Registration Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of details">
          <td>{{ row.Name }}</td>
          <td>{{ row.Address }}</td>
          <td>{{ row.Age }}</td>
          <td>{{ row.RegistrationDate | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>